<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Your Very Own FoodStuff</title>
    </head>
    <body>
        <center>
        <h1>Your FoodStuff Styles</h1>
        <p>Create a Food Category</p>

        <form action='/index' method='post'>
            <label for='type'></label>
            <input id='type' name='type' type='text'>

            <button type='submit' class='btn btn-success btn-xs'>Get Cuisined</button>
        </form>

            {% if cuisine is not empty %}
                <h2
                    {% for add in cuisine %}
                    <form action='/cuisine/{{ add.getId }}' method='get'>
                        <p><button type="submit" class="btn btn-primary btn-sm">{{ add.getType }}</button></p>
                    </form>
                    {% endfor %}
                {% else %}
                    <p>You have add no types to your list yet.</p>
            {% endif %}
        </center>
    </body>
</html>
